.header{
    background-color: #EDF2F8;
    color: #545454;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1000px;
    margin: 20px 0 100px 0;
}

.headerContainer.listMode{
    margin: 20px 0 0 0;
}

.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.headerListItem.active{
    border: 1px solid #255F44;
    padding: 5px;
    border-radius: 7px;
}


.headerDescription{
    margin: 20px 0;
}

.headerButton{
    background-color: #255F44;
    color: #fff;
    border: none;
    padding: 9px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

.headerSearch{
    height: 30px;
    background-color: #fff;
    bottom: 3px solid #febbfe;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1000px;
    border: 2px solid #255F44;
}

.headerIcon{
    color: lightgray;
}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput{
    border: none;
    outline: none;
}

.headerSearchText{
    color: lightgray;
    cursor: pointer;
}

.date{
    position: absolute;
    top: 50px;
}

.options{
    position: absolute;
    top: 50px;
    background-color: #fff;
    color: #333;
    border-radius:0 0 5px 5px;
}

.optionItem{
    display: flex;
    width: 220px;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #000;
}

.optionCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid #255F44;
    background-color: #fff;
    color: #255F44;
    cursor: pointer;
}

.optionCounterButton:disabled{
    cursor: not-allowed;
}
